# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cribb\OneDrive\Skrivbord\Objektorienterad programmering\Sprint 1\Inlämningsuppgift 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
